
.footer{
    background-color: rgba(0, 0, 0, 0.863);
}
.footer-text-p{
    font-size: 12px;
    margin-top: 20px;
}



.footer-bootom{
    background-color: black;
}

.footer-bottom-text{
    color: white;
    font-size: 12px;
    margin-bottom: 0px;
}

.payment_logo{
    height: 28px;
    margin: -4px;
}


.faa {
    padding: 7px;
    font-size: 14px;
    width: 28px;
    text-align: center;
    text-decoration: none;
    margin: 3px 3px;
    border-radius: 60%;
  }
  
  .fa:hover {
      opacity: 1;
      text-decoration: none;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
  .fa-android {
    background: #a4c639;
    color: white;
  }
  
  .fa-dribbble {
    background: #ea4c89;
    color: white;
  }
  
  .fa-vimeo {
    background: #45bbff;
    color: white;
  }
  
  .fa-tumblr {
    background: #2c4762;
    color: white;
  }
  
  .fa-vine {
    background: #00b489;
    color: white;
  }
  
  .fa-foursquare {
    background: #45bbff;
    color: white;
  }
  
  .fa-stumbleupon {
    background: #eb4924;
    color: white;
  }
  
  .fa-flickr {
    background: #f40083;
    color: white;
  }
  
  .fa-yahoo {
    background: #430297;
    color: white;
  }
  
  .fa-soundcloud {
    background: #ff5500;
    color: white;
  }
  
  .fa-reddit {
    background: #ff5700;
    color: white;
  }
  
  .fa-rss {
    background: #ff6600;
    color: white;
  }


  /* Footer Link */
  .footer-links{
      list-style: none;
      padding: 0px;
      text-align: left;
  }
  .footer-links li{
      margin: 0px;
      margin-bottom: -3px;
  }
  .footer-links li a {
        color: white;
        text-align: center;
        font-size: 12px;
        text-decoration: none;
  }

  .footer-heading{
      text-align: left;
      color: white;
      font-size: 14px;
      border-bottom: 1px solid #b3aaaa12;
      padding-bottom: 7px;
      margin-bottom: 6px;
  }