
.sidebr-category-banner{
    height:100%;
    min-height:100%;
    background-size: cover;
    background-repeat: no-repeat;
}


.category-heading-home{
    font-size: 21px;
    font-weight: 500;
    padding: 11px 11px;
    border-bottom: 1px solid #00000024;
    margin-bottom: 1px;
}

.semorebtn{
    position: absolute;
    top: 9px;
    right: 22px;
    font-size: 12px !important;
    padding: 5px 10px !important;
}